

@font-face {
    font-family: abel;
    src: url(../fonts/abel-regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
	background-color: #4180C5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-image 3s ease;
	
}

.container {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.logo {
	align-self: flex-start;
	padding-top: 20px;
	padding-left: 20px;
}

.date {	
	margin-top: 50px;	

}

.sun {
	display:none;
	z-index:1;
}
.mars {
	z-index:1;
	background: url(../images/marsSmall_2.png) no-repeat;
	background-size: 100%;
    width: 500px;
    height: 100%;
    bottom: -470px;
    position: absolute;	
}

span {
	display: block;
	line-height: 0.2;
	
}

.clockSpan {
	display:block;
	line-height:0.2;
	height:80px;
}

.hiddenMobile {
	display:none;
}
/* Text */
h1 {
	color: white;
	font-family: abel, sans-serif;
	font-size: 6em;
}
h1.earth {
	display: none;
	padding:  0 !important;
    margin: 0 !important;
    font-size: 4.5em !important;
    text-align: center;

}
h2 {
	color: #A9A9A9;
	font-family: poppins, sans-serif;
	font-size: 1em;
}

/* Text end */


/* iPads  ----------- */
@media only screen and (min-width : 360px) {
/* Styles */


} /* end query */

/* Laptops  ----------- */
@media only screen and (min-width : 600px) {
/* Styles */

h1.earth {
	display: block;
}

.hiddenMobile {
	display:inline-block;
}
.clock {
	order: 1;
}

span {
	display: inline-block;
}
.clockSpan {
	display:inline-block;
}

h1 {
	font-size: 7em;
	margin: 15px;
}

h2 {	
	font-size: 1.5em;
	
}

.message {
	margin-top: 100px;	
}

.clock {
	line-height:0.4;
}

.mars {
	background: url(../images/marsBig.png) no-repeat;	
	background-position: center;
	width: 100%;
	bottom: -350px;	
}


} /* end query */

/* Bigger screens  ----------- */
@media only screen and (min-width : 900px) {
/* Styles */
h1.earth {
	text-align: right !important;
}

	.date {	
	align-self: flex-end;
	padding-right: 20px;
}
	
	.sun {
	display:block;
	position:absolute;
	top:150px;
	margin:0 auto;
}
	
} /* end query */

