html {
	overflow: hidden;
}

@font-face {
    font-family: abel;
    src: url(../fonts/abel-regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

body {
	background-color: black;
}

.container {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.logo {
	align-self: flex-start;
}

.date {	
	margin-top: 50px;	

}

.clock {

}

.message {
	
}

.mars {
	background: url(../images/marsSmall_2.png) no-repeat;
	background-size: 100%;
    width: 500px;
    height: 100%;
    bottom: -470px;
    position: absolute;	
}

span {
	display: block;
	line-height: 0.2;
}

/* Text */
h1 {
	color: white;
	font-family: abel, sans-serif;
	font-size: 6em;
}

h2 {
	color: #A9A9A9;
	font-family: poppins, sans-serif;
	font-size: 1em;
}

/* Text end */


/* iPads  ----------- */
@media only screen and (min-width : 500px) {
/* Styles */
.date {	
	align-self: flex-end;
	padding-right: 20px;
}

.clock {
	order: 1;
}

span {
	display: inline-block;
}


} /* end query */

/* Laptops  ----------- */
@media only screen and (min-width : 600px) {
/* Styles */

h1 {
	font-size: 7em;
	margin: 15px;
}

h2 {	
	font-size: 1.5em;
	
}

.message {
	margin-top: 150px;	
}

.clock {
	
}

.mars {
	background: url(../images/marsBig.png) no-repeat;	
	background-position: center;
	width: 100%;
	bottom: -350px;	
}


} /* end query */

/* Bigger screens  ----------- */
@media only screen and (min-width : 900px) {
/* Styles */
	
	
	
} /* end query */

